# Ignore compiled files
*.exe
*.out
*.obj
*.o
*.a
*.class

# Ignore temporary files created by VS Code
.vscode/
*.log

# Ignore temporary C++ build files
*.dll
*.so

# Ignore temp runners or test outputs
tempCodeRunnerFile*
